@import "~semantic-ui-css/semantic.min.css";

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3 {
	font-family: 'Arvo', sans-serif;
}

header {
	position: relative;
	overflow: hidden;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-image: url('../img/poster.png');
	height: 100%;
}

.main {
	text-align: center;
	padding: 10px;
	background: lightgray;
	height: 100vh;
}

.bg-video {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 50%;
	left: 50%;
	-o-object-fit: contain;
	object-fit: contain;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	z-index: 0;
}

.bg-video-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 100%);
	
	@media(max-width:800px) {
		background: linear-gradient(to bottom, rgba(0,0,0,.7), rgba(0,0,0,.6) 50%, rgba(0,0,0,.7) 100%);
	}
}

.main-container {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 1;
    color: white;
    max-width: 800px;

	img {
		display: block;
		margin: 0 auto 30px;
		width: 200px;
	}

	h1 {
		text-align: center;
		font-size: 56px;
	}

	p {
		text-align: center;
		font-size: 18px;
	}

	.ui.button {
		display: block;
		margin: 40px auto;
	}

    @media(max-width: 800px) {
    	width: 80%;

    	img {
    		width: 120px;
    	}
		h1 {
			font-size: 36px;
		}

		p {
			font-size: 16px;
		}
    }

    @media(max-width:400px) {
		p {
			font-size: 14px;
		}

		img {
			width: 80px;
			margin: 10px auto 0;
		}
    }
}
